*~
*.o
*.d
TAGS
tags
cscope.out
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
depcomp
install-sh
missing
Makefile
pdbg
.deps
.dirstamp
stamp-h1
config.h
config.log
config.status
libpdbg.a
.libs
config.guess
config.sub
*.la
*.lo
ltmain.sh
libtool
m4
*.dtsi
*.dts
*.dt.h
